[Desktop Entry]
Version=1.0
Type=Application
Name=LegePDF
Comment=Document Processing Application
Exec=env LAUNCHED_FROM_GUI=1 %k
Icon=lege-gui-256.png
Terminal=false
Categories=Office;Graphics;
StartupNotify=true
MimeType=application/pdf;
